.scrollable-element__container > .scroll-track > .scroll-thumb.invisible.fade {
    opacity: 0;
    pointer-events: none;
}

.scrollable-element__container > .scroll-track > .scroll-thumb.visible {
    opacity: 0.8;
    transition: opacity 0.1s linear;
}

.scroll-thumb {
    background-color: rgba(121, 121, 121, 0.4);
}
.scroll-thumb:hover {
    background-color: rgba(100, 100, 100, 0.7);
}
.fade {
    transition: opacity 0.8s linear;
}
