$color-white: #fff;
$color-black: #000;

$color-bg-dark: rgb(21, 21, 21);
$color-font: #999;

// headerやfileexplorerなどの領域を区切るborderの色
$color-border: rgb(52, 52, 52);

// FONT
$default-font-size: 1.6rem;

// PANE
$pane-font-size: 1.4rem;
$pane-min-width: 19rem;
$pane-max-width: 40rem;

// ----

// layout/main
$color-border: rgb(52, 52, 52);

// --- footer ---
$--height-footer-section: 22px;
// active
$font-color-primary: #fff;
// hover
$font-color-secondary: #ddd;
// inactive, not hovering
$font-color-tertiary: #999999;
// toggle switch
$--color-primary: #0954a5;
$--color-border: #3a3f42;
$--color-background: rgb(46, 39, 55);

// example

// COLORS
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

// $color-grey-dark: #777;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;
