.header-section {
    & > nav {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    &.nav--item {
        margin-left: 4px;
        display: flex;
    }
    & > button {
        background-color: transparent;
        border: none;
        color: inherit;
        margin: auto 0;
        padding: 0 4px;
    }
    & > button:hover {
        background-color: #0f2c60;
    }
}
